:root {
  font-family: "Montserrat", sans-serif;
  /*
	font-weight: 500;
	font-weight: 700;
	*/
}
body {
  background: #673399;
}
h1,
h2,
p,
ul {
  margin: 0;
}
li {
  text-align: initial;
}
/* font */
.portfolio {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
.portfolio-about {
  font-size: 14px;
  color: #bd8fe8;
}
.text-article-title {
  font-size: 18px;
  color: #673399;
}
.text-article ul {
  color: #656566;
}

/* layout */
.l_wrapper {
  width: 1080px;
  margin: 100px auto;
}
/* header */
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.title .portfolio {
  width: 26%;
  box-sizing: border-box;
}
.title .portfolio-about-container {
  width: 74%;
  margin: auto 0;
}
.title .portfolio-about {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}
.title .portfolio-about::before {
  content: "";
  background: #bd8fe8;
  width: 73px;
  height: 2px;
  margin-right: 23px;
}
[class$="-img"] {
  width: 26%;
  font-size: 30px;
  color: #fff;
}
/* main */
.contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
[class^="article-"] {
  display: flex;
  background: #fff;
}
.contents .text-article {
  flex-grow: 1;
  padding: 24px;
}
.contents .text-article-title {
  margin-bottom: 32px;
}

/* style */
.title .underline {
  box-shadow: inset 0 -20px 0 orangered;
}
.contents .rest-img {
  background: url(./images/photo01.png) no-repeat 100% center / cover;
  text-align: center;
  position: relative;
}
.contents .craft-img {
  background: url(./images/photo02.png) no-repeat 100% center / cover;
  text-align: center;
  margin-left: auto;
  position: relative;
}
.contents .scrap-img {
  background: url(./images/photo03.png) no-repeat 100% center / cover;
  text-align: center;
  position: relative;
}
[class$="-img"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #673399;
  opacity: 0.5;
}
[class$="-img"] p {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contents .text-list-container {
}
.contents .text-list {
  padding-left: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contents .text-list li {
  position: relative;
  font-size: 14px;
  margin: 2px 0 0 0;
  padding: 0 0 4px 20px;
}
.contents .text-list li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 1px;
  border-radius: 5px;
  background: #bd8fe8;
}
