@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.body {
  font-style: "SpoqaHanSansNeo-Regular";
  font-style: normal;
  font-weight: 400;
}
a,
span,
p {
  font-size: 12px;
}
.login-form {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width: 350px;
  height: 140px;
}
.login-form a {
  text-decoration: none;
}
.login-form p {
  margin-left: 16px;
  margin-top: 19px;
}
.login-btn {
  display: inline-block;
  width: 318px;
  height: 40px;
  margin: 0 16px;
  border: 1px solid #711bff;
  border-radius: 4px;
  background: #711bff;
  color: #fff;
  text-align: center;
}
.login-btn img {
  width: 64px;
  height: 18px;
  margin-top: 10px;
  margin-right: 4px;
  vertical-align: top;
}
.login-btn span {
  line-height: 43px;
  text-align: center;
}
.login-user {
  display: flex;
  margin: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.login-user img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
}

.login-user a,
.login-user span {
  color: #767676;
}
